.projectsGallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adjust the min-width of the cards as needed */
  grid-gap: 0; /* No gap between cards */
  align-items: stretch; /* Stretches cards to fill the grid area vertically */
}

.projectCard {
  background-color: #fff; /* Background color of the cards */
  overflow: hidden; /* Ensures no content spills out */
  border: none; /* Removes any border */
  box-shadow: none; /* Removes any shadow */
}

.projectImage {
  width: 100%;
  height: auto; /* Maintains aspect ratio */
  display: block; /* Removes any extra space below the image */
}

/* Optional: If you want a hover effect on the cards */
.projectCard:hover {
  transform: scale(1.02); /* Slightly enlarges the card on hover */
  transition: transform 0.3s; /* Smooth transition for the hover effect */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffe4e6;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Add more styles as needed */
}
