.hero {
    /* Rest of your hero styles */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Full height of the viewport */
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-paragraph {
  font-family: "OpenSans", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.063rem;
  line-height: 2rem;
  color: #5D656C;
  
}

.heroAnimatedBackground {
  position: relative;
  overflow: hidden;
  animation: gradientBackground 10s ease-in-out infinite;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('https://res.cloudinary.com/sudeshmaldivesbook/image/upload/v1701123159/UIPS.jpg') center center / cover no-repeat;
  z-index: 1;
}

.circleGapButton {
background-color:#f472b6;
}

.circleGapButton:hover {
  background-color: #f472b6 
}